{{define "title"}}Nathejk{{end}}

{{define "content"}}
    <div class="starter-template">
        <h1>Klar til at scanne</h1>
        <p class="lead">Du er logget ind.</p>
        <p>Scan QR-koden på patruljens kort med din telefons kamera. Så åbner
        siden for den patrulje af sig selv.</p>
        <p>Første gang en QR-kode bliver scannet, bliver du bedt om at tilknytte
        den til en patrulje ud fra patruljenummeret på spejdernes arme.</p>
        <p><a href="/logout" class="btn btn-default btn-xs">Log ud</a></p>
    </div>
{{end}}
